/* Webfont: MaxLF-BlackItalic */@font-face {
    font-family: 'MaxLF-BlackItalic';
    src: url('MaxLF-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('MaxLF-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MaxLF-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('MaxLF-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MaxLF-BlackItalic.svg#MaxLF-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

