/* Webfont: MaxLF-Light */@font-face {
    font-family: 'MaxLF-Light';
    src: url('MaxLF-Light.eot'); /* IE9 Compat Modes */
    src: url('MaxLF-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MaxLF-Light.woff') format('woff'), /* Modern Browsers */
         url('MaxLF-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MaxLF-Light.svg#MaxLF-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

