/* Webfont: TheWave-DemiBold */@font-face {
    font-family: 'TheWaveDemiBold';
    src: url('TheWave-DemiBold.eot'); /* IE9 Compat Modes */
    src: url('TheWave-DemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TheWave-DemiBold.woff') format('woff'), /* Modern Browsers */
         url('TheWave-DemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TheWave-DemiBold.svg#TheWave-DemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

