/* Webfont: TheWave-Book */@font-face {
    font-family: 'TheWaveBook';
    src: url('TheWave-Book.eot'); /* IE9 Compat Modes */
    src: url('TheWave-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TheWave-Book.woff') format('woff'), /* Modern Browsers */
         url('TheWave-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TheWave-Book.svg#TheWave-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

