/* Webfont: TheWave-Light */@font-face {
    font-family: 'TheWaveLight';
    src: url('TheWave-Light.eot'); /* IE9 Compat Modes */
    src: url('TheWave-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TheWave-Light.woff') format('woff'), /* Modern Browsers */
         url('TheWave-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TheWave-Light.svg#TheWave-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

