/* Webfont: MaxLF-BlackSC */@font-face {
    font-family: 'MaxLF-BlackSC';
    src: url('MaxLF-BlackSC.eot'); /* IE9 Compat Modes */
    src: url('MaxLF-BlackSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MaxLF-BlackSC.woff') format('woff'), /* Modern Browsers */
         url('MaxLF-BlackSC.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MaxLF-BlackSC.svg#MaxLF-BlackSC') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

