/* Webfont: MaxLF-BoldSC */@font-face {
    font-family: 'MaxLF-BoldSC';
    src: url('MaxLF-BoldSC.eot'); /* IE9 Compat Modes */
    src: url('MaxLF-BoldSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MaxLF-BoldSC.woff') format('woff'), /* Modern Browsers */
         url('MaxLF-BoldSC.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MaxLF-BoldSC.svg#MaxLF-BoldSC') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

